.root{
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  "header header header header header"
  "nav content content content content"
  "nav content content content content";
}

.TitleBar{
  display: flex;
  flex-direction: row;
  background-color: #6f6f6f;
  padding: 3vh 0 3vh 0;
  border-bottom: black groove 2px;
  position: fixed;
  top: 0px;
  grid-area: header;
}

#logo{
  width: 20%;
  height: auto;
  align-self: flex-start;
}

#cppLogo{
  width: 5%;
  height: auto;
  align-self: center;
  margin-left: 15vw;
}

#dataStruct{
  margin: 3vh 0 0 2vw;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
  text-shadow: 2px 2px #464646;
}

.navMenu{
  margin-top: 16.2vh;
  border: 2px groove black;
  height: 100vh;
  width: 17.2vw;
  position: fixed;
}

ul, li, a{
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}

#structWrapper{
  grid-area: nav;
}

.structs{
  border-bottom: 2px groove black;
  list-style-type: none;
  display: block;
  padding: 3.95vh 0 3.95vh 2vh;
  font-size: 2em;
}

.structs:hover{
  cursor: pointer;
}

.main{
  grid-area: content;
  background-color: blue;
}

.secHeader{
  text-align: center;
  height: 80vh;
}

#secList, #secArray, #secVector, #secQueue, #secPq, #secStack{
  padding-top: 16vh;
}
